* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-liner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

body {
  background: url(../img/bg.jpg) 0 0 no-repeat; }

header {
  height: 100px;
  width: 100%;
  background-color: rgba(51, 39, 14, 0.8); }
  header .wrapper {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 90%;
    margin: 0 auto; }
    header .wrapper .logo_box {
      display: inline-block;
      position: relative;
      width: auto;
      height: 100px; }
      header .wrapper .logo_box a {
        font-size: 54px;
        color: #f0ebdc;
        line-height: 100px; }
      header .wrapper .logo_box:hover .wave_smell2 {
        animation: wave 1.1s ease infinite;
        animation-direction: alternate;
        transition: 1.5s; }
      header .wrapper .logo_box:hover .wave_smell {
        animation: wave2 1.1s ease infinite;
        animation-direction: alternate;
        transition: 1.5s; }
      header .wrapper .logo_box .logo {
        position: absolute;
        width: 80px;
        height: 80px;
        margin: 10px; }
        header .wrapper .logo_box .logo .cup,
        header .wrapper .logo_box .logo .mov {
          fill: #f0ebdc;
          transition: 1.5s; }
        header .wrapper .logo_box .logo:hover .cup {
          fill: #3ff707;
          transition: 1.5s; }
    header .wrapper .nav-links {
      position: relative;
      right: 4%;
      display: flex; }
      header .wrapper .nav-links li {
        margin: 0 15%;
        text-transform: uppercase; }
        header .wrapper .nav-links li a {
          font-size: 24px;
          line-height: 100px;
          color: #f0ebdc;
          transition: 1.5s; }
        header .wrapper .nav-links li a:hover {
          color: #3ff707;
          transition: 1.5s; }
    header .wrapper form {
      position: relative;
      margin: 36px 0; }
      header .wrapper form .search,
      header .wrapper form .search_btn {
        height: 28px;
        border-radius: 3px;
        font-size: 18px; }
      header .wrapper form .search:focus {
        box-shadow: inset 0 0 4px 2px #3ff707;
        transition: 1s; }
      header .wrapper form .search_btn {
        position: relative;
        left: -15px;
        width: 70px; }
      header .wrapper form .reset_btn {
        position: relative;
        width: 26px;
        height: 0px;
        background: rgba(51, 39, 14, 0.8);
        border: 2px solid rgba(51, 39, 14, 0.8);
        border-radius: 2px;
        transform: rotate(45deg);
        right: 33px;
        top: -6px; }
        header .wrapper form .reset_btn:hover {
          background: #a31111;
          border: 2px solid #a31111; }
      header .wrapper form .reset_btn::after {
        content: "";
        position: absolute;
        width: 26px;
        height: 0px;
        background: rgba(51, 39, 14, 0.8);
        border: 2px solid rgba(51, 39, 14, 0.8);
        border-radius: 2px;
        transform: rotate(90deg);
        right: -2px;
        top: -2px; }
      header .wrapper form .reset_btn:hover::after {
        background: #a31111;
        border: 2px solid #a31111; }
      header .wrapper form .search {
        padding: 2px 30px 2px 10px; }

@keyframes wave {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1); }
  100% {
    transform: translate(-5px, -2px) rotate(-3deg) scale(1.05); } }

@keyframes wave2 {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1); }
  100% {
    transform: translate(-5px, -2px) rotate(-5deg) scale(1.11); } }
