@import "reset";

$main_color: rgba(51, 39, 14, 0.8);
$text_color: #000;
$cup_color: rgb(240, 235, 220);
$active_cup: rgb(63, 247, 7);
$rotate45: rotate(45deg);

@mixin transform($rotate45) {
  -webkit-transform: $rotate45;
  -ms-transform: $rotate45;
  -o-transform: $rotate45;
}


body {
    background: url(../img/bg.jpg) 0 0 no-repeat;
}

header {
    height: 100px;
    width: 100%;
    background-color: $main_color;

    & .wrapper {
        display: flex;
        justify-content: space-around;
        width: 90%;
        height: 90%;

        .logo_box {
            display: inline-block;
            position: relative;
            width: auto;
            height: 100px;

            a {
                font-size: 54px;
                color: $cup_color;
                line-height: 100px;
                }
            
            &:hover .wave_smell2 {
                animation: wave 1.1s ease infinite;
                animation-direction: alternate;
                transition: 1s;
            }

            &:hover .wave_smell {
                animation: wave2 1.1s ease infinite;
                animation-direction: alternate;
                transition: 1s;
            }

            .logo {
              position: absolute;
              width: 80px;
              height: 80px;
              margin: 10px;

              & .cup, 
              & .mov {
                fill: $cup_color;
                transition: 1s;
                }
  
              &:hover .cup {
                  fill: $active_cup;
                  transition: 1s;
              }
            }
        }
         
         .nav-links {
              position: relative;
              right: 4%;
              display: flex;
          
              li {
                    margin-left: 35%;
                    text-transform: uppercase;

                    a {
                        font-size: 28px;
                        line-height: 100px;
                        color: $cup_color;
                    }

                    a:hover{
                        color: $active_cup
                    }
              }
          } 
      
          form {
            margin: 40px 0;
          }

    }
}

















 





@keyframes wave {
  0% {
    transform:  translate(0px, 0px) rotate(0deg) scale(1);
  }
  100% {
    transform:  translate(-5px, -2px) rotate(-3deg) scale(1.05);
  }
}

@keyframes wave2 {
  0% {
    transform:  translate(0px, 0px) rotate(0deg) scale(1);
  }
  100% {
    transform:  translate(-5px, -2px) rotate(-5deg) scale(1.11);
  }
}


