@import "reset";

$main_color: rgba(51, 39, 14, 0.8);
$text_color: #000;
$cup_color: rgb(240, 235, 220);
$active_color: rgb(63, 247, 7);
$color_red: rgb(163, 17, 17);
$rotate45: rotate(45deg);
$rotate-45: rotate(-45deg);
$rotate90: rotate(90deg);

// @mixin transform($rotate45) {
//   -webkit-transform: $rotate45;
//   -ms-transform: $rotate45;
//   -o-transform: $rotate45;
// }


body {
    background: url(../img/bg.jpg) 0 0 no-repeat;
}

header {
    height: 100px;
    width: 100%;
    background-color: $main_color;

    & .wrapper {
        display: flex;
        justify-content: space-around;
        width: 90%;
        height: 90%;
        margin: 0 auto;

        .logo_box {
            display: inline-block;
            position: relative;
            width: auto;
            height: 100px;

            a {
                font-size: 54px;
                color: $cup_color;
                line-height: 100px;
                }
            
            &:hover .wave_smell2 {
                animation: wave 1.1s ease infinite;
                animation-direction: alternate;
                transition: 1.5s;
            }

            &:hover .wave_smell {
                animation: wave2 1.1s ease infinite;
                animation-direction: alternate;
                transition: 1.5s;
            }

            .logo {
              position: absolute;
              width: 80px;
              height: 80px;
              margin: 10px;

              & .cup, 
              & .mov {
                fill: $cup_color;
                transition: 1.5s;
                }
  
              &:hover .cup {
                  fill: $active_color;
                  transition: 1.5s;
              }
            }
        }
         
         .nav-links {
              position: relative;
              right: 4%;
              display: flex; 
          
              li {
                    margin: 0 15%;
                    // text-transform: uppercase;

                    a {
                        font-size: 24px;
                        line-height: 100px;
                        color: $cup_color;
                        transition: 1.5s;
                        letter-spacing: 5px;
                    }

                    a:hover{
                        color: $active_color;
                        transition: 1.5s;
                    }
              }
          } 
      
          form {
             position: relative;
             margin: 36px 0;
             
             .search,
             .search_btn {
                height: 28px;
                border-radius: 3px;
                font-size: 18px;
             }

             .search:focus {
                  box-shadow: inset 0 0 4px 2px $active_color;
                  transition: 1s;
             }
             
             .search_btn {
                  position: relative;
                  left: -15px;
                  width: 70px;
                  transition: 1s;

                  &:hover {
                        box-shadow: 0 0 0px 1px $active_color;
                        transition: 1s;
                  }
             }
             
             .reset_btn {
                  position: relative;
                  width: 26px;
                  height: 0px;
                  background: $main_color;
                  border: 2px solid $main_color;
                  border-radius: 2px;
                  transform: $rotate45;
                  right: 33px;
                  top: -6px;

                  &:hover {
                      background: $color_red;
                      border: 2px solid $color_red;   
                  }
             }
             .reset_btn::after {
                  content: "";
                  position: absolute;
                  width: 26px;
                  height: 0px;
                  background: $main_color;
                  border: 2px solid $main_color;
                  border-radius: 2px;
                  transform: $rotate90;
                  right: -2px;
                  top: -2px;   
             }

             .reset_btn:hover::after {
                  background: $color_red;
                  border: 2px solid $color_red;   
          }

             .search {
                  padding: 2px 30px 2px 10px;
             }
          }

    }
}

.items {
    position: relative;
    top: 7%;
    left: 43%;
    width: 604px;
    height: 604px;

    .item1 {
        position: absolute;
        top: -2px;
        left: 151px;
    }
    .item2 {
        position: absolute;
        top: 150px;
        left: -2px;
    }
    .item3 {
        position: absolute;
        top: 150px;
        right: -1px;
    }
    .item4 {
        position: absolute;
        bottom: 0px;
        left: 151px;
    }

    .items_wrapper {
        width: 300px;
        height: 300px;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

        .element {
            display: inline-block;
            background-size: 210%;
            width: 100%;
            height: 100%; 
            margin: 0 auto;
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); 
        }

        .overlay {
            height: 300px;
            width: 300px;
            background: rgba(150, 103, 49, .6);
            transition: .6s;

            & a {
              display: table;
              font-size: 24px;
              color: $cup_color;
              margin: 0 auto;
              z-index: 15;
              line-height: 300px;
              opacity: 1;
              letter-spacing: 5px;
              transition: 1s;

              &:hover {
                color: $active_color;
                transition: 1s;
              }
            }

            &:hover {
              background: rgba(150, 103, 49, 0);
              transition: .6s;
            }
        }
    }

    .bg1 {
        background: url(../img/item_pic.jpg) no-repeat;
        background-position: -154px -148px;
    }
    .bg2 {
        background: url(../img/item_pic.jpg) no-repeat;
        background-position: 0px -291px;
    }
    .bg3 {
        background: url(../img/item_pic.jpg)  no-repeat ;
        background-position: -304px -291px;
        
    }
    .bg4 {
        background: url(../img/item_pic.jpg) no-repeat;
        background-position: -154px -437px;
    }

}




















 





@keyframes wave {
  0% {
    transform:  translate(0px, 0px) rotate(0deg) scale(1);
  }
  100% {
    transform:  translate(-5px, -2px) rotate(-3deg) scale(1.05);
  }
}

@keyframes wave2 {
  0% {
    transform:  translate(0px, 0px) rotate(0deg) scale(1);
  }
  100% {
    transform:  translate(-5px, -2px) rotate(-5deg) scale(1.11);
  }
}


