@import "reset";

$main_color: rgba(51, 39, 14, 0.8);
$text_color: #000;
$cup_color: rgb(240, 235, 220);
$active_color: rgb(63, 247, 7);
$color_red: rgb(163, 17, 17);
$rotate45: rotate(45deg);
$rotate90: rotate(90deg);

// @mixin transform($rotate45) {
//   -webkit-transform: $rotate45;
//   -ms-transform: $rotate45;
//   -o-transform: $rotate45;
// }


body {
    background: url(../img/bg.jpg) 0 0 no-repeat;
}

header {
    height: 100px;
    width: 100%;
    background-color: $main_color;

    & .wrapper {
        display: flex;
        justify-content: space-around;
        width: 90%;
        height: 90%;
        margin: 0 auto;

        .logo_box {
            display: inline-block;
            position: relative;
            width: auto;
            height: 100px;

            a {
                font-size: 54px;
                color: $cup_color;
                line-height: 100px;
                }
            
            &:hover .wave_smell2 {
                animation: wave 1.1s ease infinite;
                animation-direction: alternate;
                transition: 1.5s;
            }

            &:hover .wave_smell {
                animation: wave2 1.1s ease infinite;
                animation-direction: alternate;
                transition: 1.5s;
            }

            .logo {
              position: absolute;
              width: 80px;
              height: 80px;
              margin: 10px;

              & .cup, 
              & .mov {
                fill: $cup_color;
                transition: 1.5s;
                }
  
              &:hover .cup {
                  fill: $active_color;
                  transition: 1.5s;
              }
            }
        }
         
         .nav-links {
              position: relative;
              right: 4%;
              display: flex; 
          
              li {
                    margin: 0 15%;
                    text-transform: uppercase;

                    a {
                        font-size: 24px;
                        line-height: 100px;
                        color: $cup_color;
                        transition: 1.5s;
                    }

                    a:hover{
                        color: $active_color;
                        transition: 1.5s;
                    }
              }
          } 
      
          form {
             position: relative;
             margin: 36px 0;
             
             .search,
             .search_btn {
                height: 28px;
                border-radius: 3px;
                font-size: 18px;
             }

             .search:focus {
                  box-shadow: inset 0 0 4px 2px $active_color;
                  transition: 1s;
             }
             
             .search_btn {
                  position: relative;
                  left: -15px;
                  width: 70px;
             }
             
             .reset_btn {
                  position: relative;
                  width: 26px;
                  height: 0px;
                  background: $main_color;
                  border: 2px solid $main_color;
                  border-radius: 2px;
                  transform: $rotate45;
                  right: 33px;
                  top: -6px;

                  &:hover {
                      background: $color_red;
                      border: 2px solid $color_red;   
                  }
             }
             .reset_btn::after {
                  content: "";
                  position: absolute;
                  width: 26px;
                  height: 0px;
                  background: $main_color;
                  border: 2px solid $main_color;
                  border-radius: 2px;
                  transform: $rotate90;
                  right: -2px;
                  top: -2px;   
             }

             .reset_btn:hover::after {
              background: $color_red;
              border: 2px solid $color_red;   
          }

             .search {
              padding: 2px 30px 2px 10px;

             }
          }

    }
}

















 





@keyframes wave {
  0% {
    transform:  translate(0px, 0px) rotate(0deg) scale(1);
  }
  100% {
    transform:  translate(-5px, -2px) rotate(-3deg) scale(1.05);
  }
}

@keyframes wave2 {
  0% {
    transform:  translate(0px, 0px) rotate(0deg) scale(1);
  }
  100% {
    transform:  translate(-5px, -2px) rotate(-5deg) scale(1.11);
  }
}


